
.root:purple {
    -color-accent-0: #eddeff;
    -color-accent-1: #e2c5ff;
    -color-accent-2: #d2a8ff;
    -color-accent-3: #bc8cff;
    -color-accent-4: #a371f7;
    -color-accent-5: #8957e5;
    -color-accent-6: #6e40c9;
    -color-accent-7: #553098;
    -color-accent-8: #3c1e70;
    -color-accent-9: #271052;
    -color-accent-fg: #bc8cff;
    -color-accent-emphasis: #8957e5;
    -color-accent-muted: rgba(163, 113, 247, 0.4);
    -color-accent-subtle: rgba(163, 113, 247, 0.15);
}

.root:pink {
    -color-accent-0: #ffdaec;
    -color-accent-1: #ffbedd;
    -color-accent-2: #ff9bce;
    -color-accent-3: #f778ba;
    -color-accent-4: #db61a2;
    -color-accent-5: #bf4b8a;
    -color-accent-6: #9e3670;
    -color-accent-7: #7d2457;
    -color-accent-8: #5e103e;
    -color-accent-9: #42062a;
    -color-accent-fg: #f778ba;
    -color-accent-emphasis: #bf4b8a;
    -color-accent-muted: rgba(219, 97, 162, 0.4);
    -color-accent-subtle: rgba(219, 97, 162, 0.15);
}

.root:coral {
    -color-accent-0: #ffddd2;
    -color-accent-1: #ffc2b2;
    -color-accent-2: #ffa28b;
    -color-accent-3: #f78166;
    -color-accent-4: #ea6045;
    -color-accent-5: #cf462d;
    -color-accent-6: #ac3220;
    -color-accent-7: #872012;
    -color-accent-8: #640d04;
    -color-accent-9: #460701;
    -color-accent-fg: #f78166;
    -color-accent-emphasis: #cf462d;
    -color-accent-muted: rgba(234, 96, 69, 0.4);
    -color-accent-subtle: rgba(234, 96, 69, 0.15);
}
